.component {
    padding: 80px 20px 20px 20px;
    width: fit-content;
    min-width: 66%;

    table {
        width: 100%;
        
        tbody, thead {
            tr {
                td:nth-child(1), th:nth-child(1) {
                    width: 1px !important;
                }
                td:nth-child(3), th:nth-child(3) {
                    width: 1px !important;
                    text-align: center;
                    white-space: nowrap;
                }
                td:nth-child(4), th:nth-child(4) {
                    width: 1px !important;
                    text-align: center;
                }
                td, th {
                    font-family: Arial, Helvetica, sans-serif !important;
                    font-size: 16px;
                }
                th {
                    font-weight: bold;
                }
            }
        }
    }
}